@media screen and (min-width:1647px) {
    
    .card{
        width: 39em;
    }

    section.apresentacao{
        width: 54.8em;
        margin-right: 20px;
    }

    div.pessoalTecnicas{
        height: 555px;
        width: 38.5em;
    }

    section.perfilPessoal{
        width: 99%;
    }

    section.competenciasTecnicas{
        padding-top: 5px;
        width: 99%;
    }

    img.icone{
        width: 20%;
    }

    img.code{
        margin-top: 15px;
        width: 20%;
    }

    section.experiencias{
        width: 46em;
        height: 33em;
    }

    section.projetos{
        width: 47em;
        padding: 10px;
    }
    
}

@media screen and (max-width:900px) {

    div.pessoalTecnicas{
        padding-left: 11px;
    }

    section.perfilPessoal{
        width: 98.2%;
    }

    section.competenciasTecnicas{
        width: 98.2%;
    }
}

@media screen and (max-width:500px){
    h2{
        font-size: 25px;
        margin-bottom: 10px;
    }

    section.apresentacao{
        padding: 10px;
    }

    section.apresentacao h1{
        font-size: 25px;
    }
    section.apresentacao p{
        display: none;
    }
    div#icones{
        margin-top: 15px;
        margin-bottom: 0;
    }
    a img.icone{
        width: 50%;
    }

    div.pessoalTecnicas{
        width: 30em;
        padding-left: 11px;
    }

    section.perfilPessoal{
        width: 97%;
    }

    section.competenciasTecnicas{
        width: 97%;
    }

    section.competenciasTecnicas h2{
        font-size: 20px;
    }
    img.code{
        width: 20%;
    }

    section.projetos{
        padding: 10px;
    }

    section.projetos h2{
        margin-bottom: 25px;
    }
    
    section.algo{
        padding: 10px;
    }

    form label{
        margin-left: 10%;
    }
    
    form input.dados{
        width: 80%;
    }
    
    form textarea#menssagem{
        width: 80%;
    }
    
    form>button{
        width: 80%;
    }

    .card{
        width: 30em;
    }
    
}