@media screen and (min-width:1620px) {
    section.apresentacao{
        width: 55.8em;
        padding: 53px;
        margin-right: 15px;
    }

    div.container{
        width: 37em;
    }

    section.sobre{
        padding: 25px;
        margin-bottom: 10px;
    }

    section.skills{
        margin-top: 9px;
        padding-top: 2px;
        padding-bottom:27px;
    }

    section.experiencias{
        width: 46em;
        height: 33em;
    }

    section.projetos{
        width: 47em;
        padding: 10px;
    }

    footer.footer{
        width: 99%;
    }    
}

@media screen and (max-width:900px) {
    footer.footer{
        width: 98%;
    }
}

@media screen and (max-width:539px){
    h2{
        font-size: 1.5em;
        margin-bottom: 10px;
    }

    section.apresentacao{
        padding: 20px 10px;
    }

    section.apresentacao h1{
        font-size: 1.8em;
    }
    section.apresentacao p{
        display: none;
    }

    div#icones{
        margin-top: 15px;
        margin-bottom: 0;
    }
    a img.icone{
        width: 60%;
    }

    img.code{
        width: 100%;
    }

    section.projetos{
        padding: 10px;
    }

    section.projetos h2{
        margin-bottom: 25px;
    }

    form label{
        margin-left: 1%;
    }
    
    form input.dados{
        width: 98%;
    }
    
    form textarea#menssagem{
        width: 98%;
    }
  
    footer.footer{
        width: 95%;
    }

    .card{
        padding: 20px;
    }
    
}