@charset 'UTF-8';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color: rgb(15, 7, 43);
}

main{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-wrap: wrap;
    margin-top: 25px;
}

h2{
    font-size: 2em;
    margin-bottom: 25px;
}

section.apresentacao h1{
    font-size: 3em;
}

section.apresentacao p{
    font-weight: 500;
    font-size: 1.2em;
}

img#perfil{
    border: 2px solid rgb(15, 7, 43);
    border-radius: 50%;
    width: 30%;
}

div#icones{
    display: flex;
    align-items: flex-end;
    justify-content:space-around;
    margin-top: 50px;
    margin-bottom: -20px;
}

a img.icone{
    width: 100%;
}

a img.icone:hover{
    cursor: pointer;
    animation: bounce;
    animation-duration: 2s;
}

div.container{
    display: flex;
    flex-direction:column;
    padding: 0;
    width: 50em;
    background-color: rgb(15, 7, 43);
}

div.container:hover{
    animation: none;
    background-color: rgb(15, 7, 43);
}

section.sobre{
    margin: 0;
    width: 100%;
    border: 2px solid;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.925);
    box-shadow: 5px 5px 15px  rgba(0, 0, 0, 0.664);
}

section.sobre>p{
    text-align: justify;
    text-indent: 40px;
}

section.skills{
    width: 100%;
    margin: 20px 0 0 0;
    border: 2px solid;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.925);
    box-shadow: 5px 5px 15px  rgba(0, 0, 0, 0.664);
}

div.icon-skills{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

img.icon{
    width: 20%;
}

img.icon:hover{
    animation: tada;
    animation-duration: 2s;
}

section.experiencias p{
    text-align: left;
}

section.projetos{
    padding: 10px 30px;
}

div.slide{
    position: relative;
    padding:10px;
    margin-top: -15px;
    margin-bottom: 20px;
    border: 1px solid rgba(0, 0, 0, 0.637);
    border-radius: 10px;
}

a img.slideImagem{
    border-radius: 5px;
    width: 100%;
}

a img.slideImagem:hover{
    animation: pulse;
    animation-duration:1.2s ;
}

small>a{
    text-decoration: none;
    color: black;
}

small>a:hover{
    color: blue;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
}

form label{
    display: flex;
    flex-direction: column;
    margin-left: 23.8%;
    text-align: left;
    color: rgba(15, 7, 43, 0.795);
}

form input.dados{
    width: 53%;
    height: 30px;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.267);
    outline: none;
}

form textarea#menssagem{
    width: 53%;
    height: 180px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.267);
    outline: none;
    resize: none;
}

form>input#submit{
    width: 53%;
    padding: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, rgba(15,7,43,1) 10%, rgb(7, 7, 95) 80%);
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
}

form>input#submit:hover{
    padding: 4.5px;
    font-size: 21px;
    letter-spacing: 3px;
    background: linear-gradient(45deg, rgb(7, 7, 95)10%, rgba(15,7,43,1) 80%);
}

footer.footer{
    width: 97.8%;
    padding: 10px;
    margin-top: 40px;
}

.card{
    text-align: center;
    padding: 40px;
    width: 50em;
    margin: 10px;
    border: 2px solid;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.925);
    box-shadow: 5px 5px 15px  rgba(0, 0, 0, 0.664);
    transition: 1s;
}

.card:hover{
    background-color: rgba(255, 255, 255, 0.829);
    animation: pulse;
    animation-duration: 1s;
}

.dot {
    width: 15px;
    height: 15px;
    margin: 0 10px;
    cursor: pointer;
    background-color: rgb(136, 136, 136);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #353535;
}
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

::-webkit-scrollbar{
    display: none;
}